extends layout
block append links    
    link(rel='stylesheet', href='/stylesheets/forms.css')
block content
  .page-heading.cart-heading.header-text
      .container
          .row
              .col-md-12
                  .text-content
                      h4 Update Item
                      h2 Feel Free as the Wind
  .find-us
    div.container       
      .row
        .col-md-6
          .section-heading
            h1=product.name                          
            img(src='/uploads/products/'+product.image  width="30%")        

        .col-md-6
          h6="Description: "+product.description
          br
          div.stars                        
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star-half-alt   
          br                         
          h6="Category: "+product.Category.name
          br
          h6="Price: ksh "+product.price
          br
          form.form-inline(method='POST' action='/shop/update/item/cart/')
            #form-group                            
                input.form-control(name='quantity',type='number' placeholder="Enter Quantity" value=item.quantity required)                                
                input(name='productId',type='number' style="visibility:hidden" value=product.id required)            
            br
            input.btn.btn-primary(type='submit',value='Submit')          
  .happy-clients
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Esteemed Partners
        .col-md-12
          .owl-clients.owl-carousel
            .client-item
              img(src='/images/services/bmw.jpg' alt='1')
            .client-item
              img(src='/images/services/merc.jpg' alt='2')
            .client-item
              img(src='/images/services/mist.png' alt='3')
            .client-item
              img(src='/images/services/toyota.gif' alt='4')
            .client-item
              img(src='/images/services/honda.jpg' alt='5')
            .client-item
              img(src='/images/services/must.png' alt='6')
          p
            b Swipe
                      