doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='pyra')
  title=title
  link(rel="shortcut icon" type="image" href="/images/logo.jpg")  
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css")  
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")        
  link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
  link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/normalize.min.css')
  link(rel='stylesheet', href='/stylesheets/animate.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/templatemo-sixteen.css')
  link(rel='stylesheet' href='/stylesheets/owl.css')
  //- link(rel='stylesheet', href='/stylesheets/style.css')   
                       
#preloader
  .jumper
    div
    div
    div

header
  nav.navbar.navbar-expand-lg
    .container
      a.navbar-brand(href='/')
        h2
          | Pimp & 
          em Ride
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)          
          li.nav-item
            a.nav-link(href='/about') About Us

          li.nav-item
            a#cartbadge(href="#cartmodal" accesskey="4" title="")
              i.fa(style="font-size:40px") &#xf07a;                  
              if cart               
                span#cartCount2=cart.Cart.length
              else  
                span#cartCount2 0    
          li.nav-item
            a.nav-link(href='/contact') Contact Us
          if user                
            li.dropdown.show
              a.nav-link.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" Dropdown) Account
              div.dropdown-menu(aria-labelledby="dropdownMenuLink")                
                a.dropdown-item(href="/users/profile") Profile                  
                a.dropdown-item(href="/users/logout") Sign Out                              
          else
            li
              a.nav-link(accesskey="5" style="cursor:pointer" onclick="document.getElementById('id01').style.display='block'" title="Sign In") Sign In                                  
              
  if successes
    div.notification                                                 
      for success in successes
        div.alert.alert-dismissible.fade.show(style="background-color:lightgreen" role="alert")
          strong
            span #{ success }
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;           
  if errors
    div.notification                                                 
      for error, i in errors
        div.alert.alert-dismissible.fade.show(style="background-color:red;color:white" role="alert")
          strong
            span #{ error }
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;                     

  // Page Content
.banner.header-text
  .owl-banner.owl-carousel
    .banner-item-01
      .text-content
        h4 Classic Car Parts
        h2 New Arrivals On Sale
    .banner-item-02
      .text-content
        h4 Flash Deals
        h2 Get your Car's Interior Designed
    .banner-item-03
      .text-content
        h4 Tuning Deals
        h2 Best Tuning Deals Available
// Banner Ends Here
.latest-products
  .container
    .row
      .col-md-12
        .section-heading
          h2 Latest Products
                    
          div.categories_y
            ul                
              li(style="display: inline-block;")
                a.categories_x.active(href="#") All Products                                 
              li(style="display: inline-block;")
                a.categories_x(href="/products/Rims") Rims
              li(style="display: inline-block;")
                a.categories_x(href="/products/Spoilers") Spoilers
              li(style="display: inline-block;")
                a.categories_x(href="/products/Hood") Hood
              li(style="display: inline-block;")
                a.categories_x(href="/products/Tyres") Tyres
              li(style="display: inline-block;")
                a.categories_x(href="/products/Interior Design") Interior Design

      if products
        for prod in products                              
          div.col
            div.page-inner
              div.row
                div.el-wrapper
                  div.box-up
                    img.img(src='/uploads/products/'+prod.image width="50%" alt="product")                                                   
                    div.img-info
                      div.info-inner
                        span.p-name=prod.name
                        span.p-category=prod.Category.name
                      
                      div.a-descri Description : 
                        span.descri=prod.description

                  div.box-down
                    div.h-bg
                      div.h-bg-inner                  

                    a.cart(href="/shop/add/to/cart/"+prod.id)
                      span.price="KSH "+prod.price
                        span=" "
                        i.fas.fa-cart-plus
                      span.add-to-cart
                        span.txt Add to Cart                                                                      
            br            

.best-features
  .container
    .row
      .col-md-12
        .section-heading
          h2 About Pimp & Ride
      .col-md-6
        .left-content
          h4 Looking for the best pimping services and products?
          p Well, you just in the right place. We are a company that have invested heavily on car customising and also invested on our employees skills and doing all types of work concerning your car modification.
          p We are have specialised in:
          ul.featured-list
            li
              a(href='#') Car pimping
            li
              a(href='#') Full System Diagnosis
            li
              a(href='#') Car Tuning
            li
              a(href='#') Free Oil replacement on visiting us.
                          
          a.filled-button(href='/about') Read More
      .col-md-6
        .right-image
          img(src='https://images.unsplash.com/photo-1581020296922-1f7baa581f12?ixlib=rb-1.2.1&auto=format&fit=crop&w=1296&q=80' alt='')
div#cartmodal            
  div#btn-close-modal.close-cartmodal
    i.fas.fa-times-circle
    p Exit            
    h1 Cart    
  div.modal-content(style="background:transparent")                    
    div.container
        if cart
          if cart.total>0
            h6.text-center(style="color:white")="Total: ksh "+cart.total
            a.text-center.btn.btn-warning(href="/shop/ordersummary", style="margin:auto;display:block;") Proceed to CheckOut                                                   
            div.wrap
              for item in cart.Cart                             
                div.box
                  h5.card-header
                    b=item.Product.name
                  div.card-body                                                      
                    img(src="/uploads/products/"+item.Product.image width="70px")
                    p="Price: @ ksh "+item.Product.price                        
                    p="Quantity: "+item.quantity                        
                    a(href="/shop/remove/from/cart/"+item.Product.id)
                      i.fas.fa-times-circle Remove
          else
            div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                             

        else
          div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                             

div#id01.signinmodal  
  form.modal-content.animate(method="POST" action='/users/login')
    div.imgcontainer            
      img(src="/images/team/login.png" alt="Avatar" class="avatar")        
    div.container            
      label(for="username") 
        b Username
      input(type="text" placeholder="Enter Username" name="username" required)

      label(for="password")
        b Password
      input(type="password" placeholder="Enter Password" name="password" required)
        
      button(type="submit") Sign in            
    div.container(style="background-color:#f1f1f1")
      button(type="button" onclick="document.getElementById('id01').style.display='none'").cancelbtn Cancel
      span.psw Don't have an Account? 
        a(href="/users/signup") Sign Up

footer
  .container
    .row
      .col-md-12
          a(style="padding: 10px;color: black;" href="https://www.instagram.com/?hl=en")
            i.fab.fa-instagram
          a(style="padding: 10px;color: black;" href="https://twitter.com/login?lang=en")
            i.fab.fa-twitter
          a(style="padding: 10px;color: black;" href="https://www.facebook.com/")
            i.fab.fa-facebook
          a(style="padding: 10px;color: black;" href="mailto: peter_mirithu@yahoo.com")
            i.far.fa-envelope
          p Copyright &copy; 2020 All rights reserved. Pimp & Ride Co., Ltd.                      
          p(style="padding-bottom:20px") Designed By :                        
            a(rel='nofollow noopener' href="https://github.com/petermirithu" target='_blank') Peter Mirithu | Software Developer          

    script(src="/javascripts/jquery.min.js")        
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="https://kit.fontawesome.com/8311960bd4.js" crossorigin="anonymous")
    script(src="/javascripts/animatedModal.min.js")    
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/custom.js')
    script(src='/javascripts/owl.js')
    script(src='/javascripts/slick.js')
    script(src='/javascripts/isotope.js')
    script(src='/javascripts/accordions.js')
    script(src="/javascripts/scripts.js")
    script.
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
      cleared[t.id] = 1;  // you could use true and false, but that's more typing
      t.value='';         // with more chance of typos
      t.style.color='#fff';
      }
      }
