doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")    
    title= title
    block links
      link(rel="shortcut icon" type="image" href="/images/logo.jpg")    
      link(href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")        
      link(rel='stylesheet', href='/stylesheets/animate.min.css')
      link(rel='stylesheet', href='/stylesheets/normalize.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div#headernext.container-fluid(style="background-color:black")
      div#logo                   
        a(href="/")            
          img#logoimage(src="/images/logo.jpg" alt="logo" style="border-radius:50%")                                              
          span.ml5
            span.text-wrapper
              span.line.line1
              span.letters.letters-left Pimp
              span.letters.ampersand &amp;
              span.letters.letters-right Ride
              span.line.line2                            
      div#menu
        ul
          li.active
            a(href="/" accesskey="1" title="") Home
          li
            a(href="/about") About Us       
          li
            a(href="/services") Services 
          if user
            if user.admin==true
              li
                a(href="/shop/form" accesskey="2" title="") Post             
                    
          li
            a#cartbadge(href="#cartmodal" accesskey="4" title="")
              i.fa(style="font-size:24px") &#xf07a;                  
              if cart               
                span#cartCount=cart.Cart.length
              else  
                span#cartCount 0

          if user                
            li.dropdown
              div.dropbtn Account 
                i.fa.fa-caret-down                
              div.dropdown-content
                a(href="/users/profile" accesskey="5" title="") Profile                  
                a(href="/users/logout" accesskey="5" title="") Sign Out  
          else
            li
              a(accesskey="5" style="cursor:pointer" onclick="document.getElementById('id01').style.display='block'" title="Sign In") Sign In                                  
          li    
            a(href="")

      div.smallmenu(onclick="openNav()")
        i.fas.fa-bars

      a#cartbadge2(href="#cartmodal" accesskey="4" title="")
        i.fa(style="font-size:40px") &#xf07a;                  
        if cart               
          span#cartCount2=cart.Cart.length
        else  
          span#cartCount2 0
                  
    div#mySidenav.sidenav
      a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
      a(href="/" accesskey="1" title="") Home
      a(href="/about") About Us    
      a(href="/services") Services 
      if user
        a(href="/users/profile" accesskey="5" title="") Profile   
        a(href="/users/logout" accesskey="5" title="") Sign Out                 
      else  
        a(accesskey="5" style="cursor:pointer;color:#FFE3EA;" onclick="document.getElementById('id01').style.display='block'" title="Sign In") Sign In                                  

    div#header-wrapper                  
      div#header.container-fluid
        div#logo                   
          a(href="/")            
            img#logoimage(src="/images/logo.jpg" alt="logo" style="border-radius:50%")                                              
            span(style="font-family: 'Kavoon', cursive;font-size: 2.5em;font-weight: 300;") Pimp & Ride                                         

        div#menu
          ul
            li.active
              a(href="/" accesskey="1" title="") Home
            li
              a(href="/about") About Us       
            li
              a(href="/services") Services 
            if user
              if user.admin==true
                li
                  a(href="/shop/form" accesskey="2" title="") Post
                      
            li
              a#cartbadge3(href="#cartmodal" accesskey="4" title="")
                i.fa(style="font-size:24px") &#xf07a;                  
                if cart               
                  span#cartCount=cart.Cart.length
                else  
                  span#cartCount 0

            if user                
              li.dropdown
                div.dropbtn Account 
                  i.fa.fa-caret-down                
                div.dropdown-content
                  a(href="/users/profile" accesskey="5" title="") Profile                  
                  a(href="/users/logout" accesskey="5" title="") Sign Out  
            else
              li
                a(accesskey="5" style="cursor:pointer" onclick="document.getElementById('id01').style.display='block'" title="Sign In") Sign In                                  
            li    
              a(href="")
              
        div.smallmenu(onclick="openNav()")
          i.fas.fa-bars
          
        a#cartbadge4(href="#cartmodal" accesskey="4" title="")
          i.fa(style="font-size:40px") &#xf07a;                  
          if cart               
            span#cartCount2=cart.Cart.length
          else  
            span#cartCount2 0
            
    if successes
      div.notification                                                         
        for success in successes
          if success=='Please Sign In if you have an Account'
            div.alert.alert-success #{ success }
              span=":~ "
              span
                a(accesskey="5" style="cursor:pointer;color:#005DE4" onclick="document.getElementById('id01').style.display='block'" title="Sign In") Sign In                                  
          else  
            div.alert.alert-success #{ success }

    if errors
      div.notification                                                 
        for error, i in errors
            div.alert.alert-danger #{ error }              
  
    block content

    div#cartmodal            
        div#btn-close-modal.close-cartmodal
          i.fas.fa-times-circle
          p Exit            
          h1 Cart    
        div.modal-content(style="background:transparent")                    
          div.container
              if cart     
                if cart.total>0  
                  h6.text-center(style="color:white")="Total: ksh "+cart.total                                                   
                  a.text-center.btn.btn-warning(href="/shop/ordersummary", style="margin:auto;display:block;") Proceed to CheckOut                                                   
                  div.wrap
                    for item in cart.Cart                             
                      div.box
                        h5.card-header
                          b=item.Product.name
                        div.card-body                                                      
                          img(src="/uploads/products/"+item.Product.image width="70px")
                          p="Price: @ ksh "+item.Product.price                        
                          p="Quantity: "+item.quantity
                          a(href="#")
                            i.fas.fa-times-circle Remove
                else  
                  div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                                         
              else  
                div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                             

    div#id01.signinmodal  
      form.modal-content.animate(method="POST" action='/users/login')
        div.imgcontainer            
          img(src="/images/team/login.png" alt="Avatar" class="avatar")        
        div.container            
          label(for="username") 
            b Username
          input(type="text" placeholder="Enter Username" name="username" required)

          label(for="password")
            b Password
          input(type="password" placeholder="Enter Password" name="password" required)
            
          button(type="submit") Sign in            
        div.container(style="background-color:#f1f1f1")
          button(type="button" onclick="document.getElementById('id01').style.display='none'").cancelbtn Cancel
          span.psw Don't have an Account? 
            a(href="/users/signup") Sign Up
          
    div#copyright.container-fluid     
        p.icons
          a(href="https://www.instagram.com/?hl=en")
            i.fab.fa-instagram
          a(href="https://twitter.com/login?lang=en")
            i.fab.fa-twitter
          a(href="https://www.facebook.com/")
            i.fab.fa-facebook
          a(href="mailto: peter_mirithu@yahoo.com")
            i.far.fa-envelope
        p &copy; 2020. All rights reserved. | Designed by
          a(href="https://github.com/petermirithu") Peter Mirithu | Software Developer

  
  script(src="/javascripts/jquery.min.js")       
  script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")  
  script(src="https://kit.fontawesome.com/8311960bd4.js" crossorigin="anonymous")
  script(src="/javascripts/animatedModal.min.js")
  script(src="/javascripts/scripts.js")
  script.

      //- logo stuff
      anime.timeline({loop: true})
        .add({
          targets: '.ml5 .line',
          opacity: [0.5,1],
          scaleX: [0, 1],
          easing: "easeInOutExpo",
          duration: 700
        }).add({
          targets: '.ml5 .line',
          duration: 600,
          easing: "easeOutExpo",
          translateY: (el, i) => (-0.625 + 0.625*2*i) + "em"
        }).add({
          targets: '.ml5 .ampersand',
          opacity: [0,1],
          scaleY: [0.5, 1],
          easing: "easeOutExpo",
          duration: 600,
          offset: '-=600'
        }).add({
          targets: '.ml5 .letters-left',
          opacity: [0,1],
          translateX: ["0.5em", 0],
          easing: "easeOutExpo",
          duration: 600,
          offset: '-=300'
        }).add({
          targets: '.ml5 .letters-right',
          opacity: [0,1],
          translateX: ["-0.5em", 0],
          easing: "easeOutExpo",
          duration: 600,
          offset: '-=600'
        }).add({
          targets: '.ml5',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });

        //- navbar 
                //- navbar 
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
          if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            document.getElementById("header").style.display = "none";                      
            document.getElementById("headernext").style.display = "block";             

          } else {
            document.getElementById("header").style.display = "block";                         
            document.getElementById("headernext").style.display = "none";             
          }
        }

        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }