extends layout
block content
    .page-heading.order-heading.header-text
        .container
            .row
                .col-md-12
                    .text-content
                        h4 Order Summary
                        h2 Proceed to Payment

    div.container                
        h6.text-center="Total to be paid: ksh "+cart.total
        div.container
            div.wrap
                div.column(style="width:600px")            
                    if cart            
                        div.wrap
                            for item in cart.Cart                             
                                div.box
                                    h5.card-header
                                        b=item.Product.name
                                    div.card-body                                                      
                                        img(src="/uploads/products/"+item.Product.image width="70px")
                                        p="Price: @ ksh "+item.Product.price                        
                                        p="Quantity: "+item.quantity                                                           
                                        a(href="/shop/cartform/"+item.Product.id ,style="color: #61BAAD")
                                            i.fas.fa-edit Edit
                                        span=" "    
                                        a(href="/shop/remove/from/cart/"+item.Product.id, style="color: #B9134F")
                                            i.fas.fa-times-circle Remove
                    else
                        div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                                         
                            
                div.column(style="width:400px")    
                    hr        
                    if cart.Delivery
                        h4 Delivery
                        p="Place: "+cart.Delivery.name
                        a(href="/shop/remove/delivery/"+cart.Delivery.id)
                            i.fas.fa-times-circle Remove
                    else
                        h4 Do you wish you items to be delivered?                                              
                        form(method='POST' action='/shop/update/cart/')
                            #form-group                                                                                                                          
                                select(name="deliveryId").custom-select
                                    option.form-control(value=0) Select a delivery place                                                                                                                                      
                                    for place in deliveries   
                                        option.form-control(value=place.id)=place.name+" | Cost: ksh "+place.cost

                            br
                            input.btn.btn-primary(type='submit',value='Submit')                                                             
                    hr              
                    h4 Payment Methods Available                    
                    img(src="/images/mpesa.png" alt="logo" style="border-radius:50%" width="100px")                                  
                    a.btn.btn-warning(accesskey="5" style="cursor:pointer" onclick="document.getElementById('id03').style.display='block'" title="Mpesa Payment") Proceed to mpesa payment
                    
                    div#id03.paymentmodal  
                        form.modal-content.animate(method="POST" action='/shop/mpesa/stk')
                            div.imgcontainer            
                                h2.text-center Payment                        
                                img(src="/images/mpesa.png" alt="logo" style="border-radius:50%" width="200px")                            
                                p(style="color:black")="Total: ksh "+cart.total                                                                                                                              
                            div.container                                            
                                if cart                                     
                                    p(style="color:red") N/B: This is a showcase site which uses a sandbox mpesa payment. You will be charged ksh 1 for testing which will be refunded at midnight the following day.
                                    label(for="phone") 
                                        b Phone Number
                                    p In the order 2547*********    
                                    input.form-control(type="number" name="phone" placeholder="Enter your Safaricom line number" required)                                                                                            
                                                                                                                                                                                         
                                else  
                                    div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                                                             
                                button(type="submit") Pay            

                            div.container(style="background-color:#f1f1f1")
                                button(type="button" onclick="document.getElementById('id03').style.display='none'").cancelbtn Cancel                                                           

    .happy-clients
      .container
        .row
          .col-md-12
            .section-heading
              h2 Our Esteemed Partners
          .col-md-12
            .owl-clients.owl-carousel
              .client-item
                img(src='/images/services/bmw.jpg' alt='1')
              .client-item
                img(src='/images/services/merc.jpg' alt='2')
              .client-item
                img(src='/images/services/mist.png' alt='3')
              .client-item
                img(src='/images/services/toyota.gif' alt='4')
              .client-item
                img(src='/images/services/honda.jpg' alt='5')
              .client-item
                img(src='/images/services/must.png' alt='6')
            p
              b Swipe
