extends layout
block content
    div.container        
        h1.text-center Order Summary
        h6.text-center="Total to be paid: ksh "+cart.total
        div.container
            div.row
                div.col-md-8
                    if cart            
                        div.wrap
                            for item in cart.Cart                             
                                div.box
                                    h5.card-header
                                        b=item.Product.name
                                    div.card-body                                                      
                                        img(src="/uploads/products/"+item.Product.image width="70px")
                                        p="Price: @ ksh "+item.Product.price                        
                                        p="Quantity: "+item.quantity                        
                                        a(href="/shop/remove/from/cart/"+item.Product.id)
                                            i.fas.fa-times-circle Remove
                    else
                        div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                                         
                            
                div.col-md-4
                    if cart.Delivery
                        h4 Delivery
                        p="Place: "+cart.Delivery.name
                        a(href="/shop/remove/delivery/"+cart.Delivery.id)
                            i.fas.fa-times-circle Remove
                    else
                        h4 Do you wish you items to be delivered?                                              
                        form(method='POST' action='/shop/update/cart/')
                            #form-group                                                                                                                          
                                select(name="deliveryId").custom-select
                                    option.form-control(value=0) Select a delivery place                                                                                                                                      
                                    for place in deliveries   
                                        option.form-control(value=place.id)=place.name+" | Cost: ksh "+place.cost

                            br
                            input.btn.btn-primary(type='submit',value='Submit')                                                             
                    hr              
                    h4 Payment Methods Available
                    img(src="/images/mpesa.png" alt="logo" style="border-radius:50%" width="100px")                                  
                    a.btn.btn-warning#mpesano(href="#mpesamodal") Proceed to mpesa payment

                    div#mpesamodal            
                        div#btn-close-modal.close-mpesamodal
                            i.fas.fa-times-circle
                            p Exit            
                            img(src="/images/mpesa.png" alt="logo" style="border-radius:50%" width="200px")                            
                        div.modal-content(style="background:transparent")                    
                            div.container
                                if cart                                     
                                    h6(style="color:red") N/B: This is a showcase site which uses a sandbox mpesa payment. You will be charged ksh 1 for testing which will be refunded at midnight the following day.
                                    h6.text-center(style="color:white")="Total: ksh "+cart.total+" if in production! "
                                        i.fas.fa-smile-wink                                                                                                                     

                                    div.wrap                                                                            
                                        form.flex-form(method="POST",action="/shop/mpesa/stk")                                                                                            
                                            input(type="number" name="phone" style="flex-basis: 500px;" placeholder="Enter your Safaricom line number for payment")                                                                                            
                                            input(type="submit" value="Pay")                                                 
                                else  
                                    div.alert.alert-danger.text-center You have not added anything in your cart. Please shop!                             

